.jumbotron {
    background-color: rgb(50, 50, 58);
    color: white;
    text-align: center    
    }
    
    h1 {
    color: white;
    padding: 0px;
    }    
    
    .fa {
        color: white;        
    }

    .container {
        border: 2px;
    }

    